<h1>Bonjour</h1>

<p>Pour supprimez votre compte, s'il vous plaît visitez ce lien</p>

<a href="{{ url('profile_delete_account_erase') }}?token={{token}}">{{ url('profile_delete_account_erase') }}</a>

<p>Cordialement,
	<br>
	Gruut.
</p>
