<h1>Bonjour</h1>

<p>Nous sommes désolés d'apprendre que votre commande avec Gruut a été annulée. Vous pouvez si vous le souhaitez continuer votre commande.</p>
<p>

<br>
<p>
Détails de votre commande :

Numéro de commande : {{order.reference}}
</p>
<br>

	<br>
	Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter. Nous sommes là pour vous aider.
	<br>
	Cordialement,
	<br>
	Enteprise Gruut.
</p>
