{% extends 'base.html.twig' %}

{% block test %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{asset('assets/css/contact.css')}}">
{% endblock %}


{% block content %}

<header id="head" class="secondary"></header>

<style>
    .secondary{
        background: none !important;
    }
    #up{
        background: #00000000;
        border: 0px;
    }
    #up:hover{
        background: #14141419;
        border: 0px;
        border-radius: 5px;
    }
    #down{
        background: #00000000;
        border: 0px;
    }
    #down:hover{
        background: #14141419;
        border: 0px;
        border-radius: 5px;
    }

</style>
<br>
<div class="container" style="height: 100vh;">
    <div class="row">
        <div class="infos col-sm-6">
            <div class="contact-infos" style="background: #025908b3; border-radius:15px; color: #FFFFFF; padding: 5%;">
                <h2 class="text-center" style="margin-top: 0vh;">Nos informations</h2>
                <span>
                    <h3><i class="fa fa-phone" aria-hidden="true" style=" margin-right:1vw;"></i>Appeler nous</h3>
                    <small>05-06-61-46-87</small>
                </span>
                <span>
                    <h3><i class="fa fa-map-marker" aria-hidden="true" style=" margin-right:1vw;"></i>Emplacement</h3>
                    <small>05 rue de la bienvenue</small>
                </span>
                <span>    
                    <h3><i class="fa fa-envelope" aria-hidden="true" style=" margin-right:1vw;"></i> Mail</h3>
                    <small>gruut.company@gmail.com</small>
                </span>
            </div>
        </div>
        <div class="infos2 col-sm-6" style="margin-top: 5vh;">
            <div class="contact-infos2" style="background: #ddddddb3; border-radius:15px">
                <h2>Nos inforùations</h2><br>
                <span>
                    <img src="" alt="">
                    <h3>Appeler nous</h3><br>
                    <small>05-06-61-46-87</small>
                </span>
                <span>
                    <img src="" alt="">
                    <h3>Emplacement</h3><br>
                    <small>05 rue de la bienvenue</small>
                </span>
                <span>
                    <img src="" alt="">
                    <h3>Mail</h3><br>
                    <small>contact@gruut.com</small>
                    <button id="up" class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400 ">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                    </button>
                    <button id="down" class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"><svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg></button>
                </span>
            </div>
        </div>
    </div>
</div>


{% endblock %}