<h1>Bonjour</h1>

<p>Nous sommes ravis d'apprendre que vous souhaitez vous inscrire à notre site Gruut. Pour confirmer votre inscription, cliquez sur le lien suivant :</p>
<br>
<a href="{{url ("app_home", {'token':token}) }}">Confirmez votre inscription</a>
<br>

	<br>
	Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter. Nous sommes là pour vous aider.
	<br>
	Cordialement,
	<br>
	Enteprise Gruut.
</p>
