{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe
 Email{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
    <p>
Si votre compte est bien reconnu, alors un mail contenant un lien pour réinitialiser votre mot de passe a été adressé. Ce lien expira dans
{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne reçevez pas d'email, s'il vous plaît vérifier votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}">essayez de nouveau</a>.</p>
{% endblock %}
