{% extends 'base.html.twig' %}

{% block title %}Nos Produits
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ asset("assets/css/product.css") }}">
{% endblock %}

{% block content %}
	<header id="head" class="secondary"></header>

	<style>
		.secondary {
			background: none !important;
		}

		.row1 {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: center;
			justify-content: center;
			align-items: center;
		}

		

	</style>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 class="text-center">Catégorie
				<br>{{categories.name}}
			</h1>	
			
			<div class="row1 row" style="margin-top:5vh;">
				{% for product in categories.products %}
						<div class="col-md-3" style="height: 350px; margin:1vw; float:left;">
								{% include 'product/single.html.twig'%}
						</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

 {% block script %}
 
 <script>
var rateStars = document.querySelectorAll(".rateStar"); 
let mainArray = [];
let secondArray = [];
// cette boucle sert à couper le tableau en plusieurs partie de 5 éléments(étoile).
for (let i = 0; i < rateStars.length; i += 5) {
	// ici on fait un Array.from car le tableau de rateStars est considéré comme un NodeList, on le slice(tranche) après 5 éléments récupéré.
  let sliceArray = Array.from(rateStars).slice(i, i + 5);

	// ici on push(pousse) les données récupérés dans sliceArray dans le tableau mainArray.
  mainArray.push(sliceArray);
}

{% for product in categories.products %}
// on peut initialiser des paramètres twig dans le javascript, même les boucles twig fonctionne en JS.
{% set note = product.note %}
// ici je set une variable note en TWIG puis je la récupère, avec un json_encode pour que ça soit interpréter par JS
var note = {{note|json_encode|raw}};

if(note != null){
secondArray.push(note);
}
{% endfor %}

mainArray.forEach(function(oneArray, i){
	// cette boucle permet de créer la couleur des étoiles.
	for(index = 0; index < secondArray[i]; index++){
		oneArray[index].classList.add("checkedStar")
	}
})

{# --------------------------------------------------------------------- #}

let inputsQuantity = document.querySelectorAll(".quantityCart");
let hrefs = document.querySelectorAll(".click");
let inputOfValue = 1;
inputsQuantity.forEach(function (input, index) {
	// pour chaque inputs on va attribuer un lien <a href> lui correspondant. 
	let href = hrefs[index];
	href.addEventListener("click", function(){
		inputValue = input.value
		if(inputValue > 100) {
			inputValue = 0
		}
		// au lien que tu cliques, tu lui récupère son chemin.
		cartHref = href.href;
		// tu initialises l'ajax pour pouvoir envoyer les données de l'input dans le controller add.
		$.ajax({
			type: "POST",
			url: cartHref,
			data: {inputOfValue: inputValue},
		});
	});
});
 </script>
 
 {% endblock %}